html,body {
    height: 100%;
}

#about {
    border: solid 1px #eee;
    padding: 20px;
    margin-top: 10px;
    margin-left: auto;
    background: #e0e0e0;
    
}

p {
    font-family: serif;
    font-size: 20px;
    padding: 3px;
    margin: 0 10px;
    
}