html,body {
    height: 100%;
    background: #234;
}

#about {
    border: solid 1px #eee;
    padding: 20px 0;
    margin-top: 10px;
    background: #bbe1c3;
    position: relative;
    top: 10px;
    right: -13.5px;
    width: 100.2%
    
    
}

 #about p {
    font-family: serif;
    font-size: 20px;
    
    
}



#head h3 {
    text-align: center; 
    background: #787878;
    color: #fc4;
    padding: 20px;
    margin-bottom: 0;
    font-size: 28px
    
}

#head p {
    width: 100%;
    background: #fc3;
    padding: 20px;
    
    
}

#head a {
    border: solid 1px #aaa;
    padding: 10px;
    background: #a3bc3443;
    box-sizing: border-box;
    box-shadow: 1px 2px 3px #aaa;
}


#img {
    position: relative;
    right: -30px;
}

ol li {
    font-size: 16px;
}







