html,body {
    height: 100%;
}

#about {
    border: solid 1px #eee;
    padding: 20px 0 0 0;
    margin-top: 10px;
    background: #e0e0e0;
    
}

 p {
    font-family: serif;
    font-size: 18px;
    padding: 3px;
    margin: 0 10px;
    
}

#head {
    padding-left: 0;
    padding: 30px 0;
}


#head h3 {
    text-align: center; 
    background: #787878;
    color: #fc4;
    padding: 5px;
    margin-bottom: 0;
    
}

#head p {
    width: 100%;
    background: #fc3;
    padding-left: 0;
    margin-left: 0;
    padding: 5px;
    
    
}
