label {
    width: 100%;
    background: #aaa;
    border: solid 1px none;
    margin: 0 auto;
    padding: 5px;
    color: aliceblue;
    font-size: 18px;
    text-align: center;
}


#facility {
    border: solid 1px #ddd;
    background: #efeded;
    padding: 0 10px;
}

#faci {
    color: #43ac;
}

.form-control {
    border-radius: 0;
}

.btn {
    padding: 8px 40px;
}



html,body {
    height: 100%;
    background: #bfbfbf;
}

#head {
    text-align: center;
    width: 80%;
    border: solid 1px none;
    background: #846297;
    color: aliceblue;
    margin: 15px auto;
    padding: 2px;
}


#addPost {
    border: solid 1px none;
    background: #ffffff;
    padding: 10px 20px;
}






















