label {
    width: 100%;
    background: #aaa;
    border: solid 1px none;
    margin: 0 auto;
    padding: 5px;
    color: aliceblue;
    text-align: center;
    font-size: 20px;
}


#facility {
    border: solid 1px #ddd;
    background: #efeded;
    padding: 0 10px;
}

#faci {
    color: #43ac;
}

.form-control {
    border-radius: 0;
}

.btn {
    padding: 10px 50px;
    position: relative;
    top: 0;
    right: -250px;
    font-size: 20px;
    margin: 10px;
}



body {
    background: #bfbfbf;
}

#head {
    text-align: center;
    width: 80%;
    border: solid 1px none;
    background: #ffffff;
    color: #d64f4f;
    margin: 15px auto;
/*    padding: 2px;*/
}


#addPost {
    border: solid 1px none;
    background: #ffffff;
    padding: 10px 20px;
}


input[type="file"] {
    padding: 20px 0;
}





















