html,body {
    height: 100%;
/*    width: auto;*/
}

#formContainer {
    padding: 5px;
}

label {
    font-size: 18px;
    font-family: Arial;
    margin-top: 10px;
}

#name, #email, #password,#phone {
        font-size: 14px;
        
}

.form-group#categories {
    color: red;
}


input:hover {
    border: solid 1px #eed;
}

form {
    color: black;
}


/*----------------------------------------------------------
            Adding Post
--------------------------------------------------------*/

